<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <div class="card image">
        <div class="card-body">
          <h5 class="card-title">Tira Gosto Teste</h5>
          <img class="card-img" src="./assets/img/test_tiragosto.png" alt="Card image cap">
          <p class="card-text">Delicioso tira gosto tipo porção com lombo defumado e salada</p>
          <a href="#" class="btn btn-primary">Adicionar ao carrinho</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Tira Gosto Teste</h5>
          <img class="card-img" src="./assets/img/test_tiragosto.png" alt="Card image cap">
          <p class="card-text">Delicioso tira gosto tipo porção com lombo defumado e salada</p>
          <a href="#" class="btn btn-primary">Adicionar ao carrinho</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Tira Gosto Teste</h5>
          <img class="card-img" src="./assets/img/test_tiragosto.png" alt="Card image cap">
          <p class="card-text">Delicioso tira gosto tipo porção com lombo defumado e salada</p>
          <a href="#" class="btn btn-primary">Adicionar ao carrinho</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Tira Gosto Teste</h5>
          <img class="card-img" src="./assets/img/test_tiragosto.png" alt="Card image cap">
          <p class="card-text">Delicioso tira gosto tipo porção com lombo defumado e salada</p>
          <a href="#" class="btn btn-primary">Adicionar ao carrinho</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Tira Gosto Teste</h5>
            <img class="card-img" src="./assets/img/test_tiragosto.png" alt="Card image cap">
            <p class="card-text">Delicioso tira gosto tipo porção com lombo defumado e salada</p>
            <a href="#" class="btn btn-primary">Adicionar ao carrinho</a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Tira Gosto Teste</h5>
              <img class="card-img" src="./assets/img/test_tiragosto.png" alt="Card image cap">
              <p class="card-text">Delicioso tira gosto tipo porção com lombo defumado e salada</p>
              <a href="#" class="btn btn-primary">Adicionar ao carrinho</a>
            </div>
          </div>
        </div>
        <div class="col-md-3">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Tira Gosto Teste</h5>
                <img class="card-img" src="./assets/img/test_tiragosto.png" alt="Card image cap">
                <p class="card-text">Delicioso tira gosto tipo porção com lombo defumado e salada</p>
                <a href="#" class="btn btn-primary">Adicionar ao carrinho</a>
              </div>
            </div>
          </div>
          <div class="col-md-3">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Tira Gosto Teste</h5>
                  <img class="card-img" src="./assets/img/test_tiragosto.png" alt="Card image cap">
                  <p class="card-text">Delicioso tira gosto tipo porção com lombo defumado e salada</p>
                  <a href="#" class="btn btn-primary">Adicionar ao carrinho</a>
                </div>
              </div>
            </div>
  </div>
</div>