<!--<nav *ngIf="showNavBar" class="navbar navbar-light fixed-top" style="background-color: #472f34;">
  <a class="navbar-brand text-white" routerLink="/produtos">
    <img src="./assets/img/pedibreja.png" width="35" height="35" class="d-inline-block align-top" alt="">
    <b class="nav-title">Pedi Breja - Soberania em tira gostos</b>
  </a>
  <button class="btn-logout btn btn-danger" (click)="user.logout()">Fazer logoff</button>
  <i class="fa fa-shopping-cart fa-2x" routerLink="/carrinho"></i>
</nav>
-->

<!-- Navigation -->
<nav *ngIf="showNavBar" class="navbar navbar-expand-md navbar-light mb-1 bg-dark shadow-sm" id="mainNav">
    <div class="container">
      <a class=" js-scroll-trigger" ><img style="height:50px; background-color: #472f34;" src="./assets/img/pedibreja.png" alt=""></a>  <span> <h5 class="text-white">Pedi Breja - Soberania em tira gostos</h5></span>
      <button class="navbar-toggler bg-light" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarResponsive">
        <ul class="navbar-nav ml-auto ">
          <li class="nav-item">
            <a class="nav-link m-1 px-3 btn-logout btn btn-danger js-scroll-trigger text-white" (click)="user.logout()">Fazer logoff</a> 

          </li>&nbsp;&nbsp;&nbsp;&nbsp;
          <li class="nav-item">
            
            <i class="fa fa-shopping-cart fa-2x" routerLink="/carrinho"></i>
          </li>
         
          
        </ul>
      </div>
    </div>
  </nav>


<router-outlet></router-outlet>